.chart-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow-x: 300px;
    max-width: 800px; 
}

canvas {
    width: 100%;
    height: auto;
}
@media (min-width: 1200px) {
    .chart-container {
        max-width: 100%;
    }
}