* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 80px;
    background-color: blueviolet;
}
nav div a {
    color: white;
    text-decoration: none;
}

.login-tab, .register-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.login-tab .a, .register-tab {
    font-weight: 500;
}

.login-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.layer1 {
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 0 rgba(96, 96, 96, 0.5);
    flex-direction: column;
}

.layer1 h1, div div input {
    margin-bottom: 20px;
    box-shadow: 0 0 0 0 rgba(96, 96, 96, 0.5);
}