@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
  }
  to {
      opacity: 1;
      transform: none;
  }
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  background-color: #FBF0F6;
}

.section1 {
    background-image: url('images/background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    animation-name: fadeInDown;
    animation-duration: 3s;
}

.section1 .title {
  animation-name: fadeLeft;
  animation-duration: 3s;
}

.section1 .subtitle {
  animation-name: fadeInDown;
    animation-duration: 3s;
}

.phar {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 2s, transform 2s;
}

.phar.animate {
  opacity: 1;
  transform: translateX(0);
}



/* Card Setion */
.card-text {
    font-size: 12px;
}

.cardimg {
    border-radius: 50px;
    height: 50px;
    width: 50PX;
}

.card-container1 {
  opacity: 0;
  transform: scale(0.4);
  transition: opacity 2s, transform 2s;
}

.card-container1.animate {
  opacity: 1;
  transform: scale(1);
}


.right-card {
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 10px;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 2s, transform 2s;
}

.right-card.animate {
  opacity: 1;
  transform: translateX(0);
}




.sample {
    background-color: #f5f7fa;
  }
  
  .fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }

  .sample {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s, transform 2s;
  }
  
  .sample.animate {
    opacity: 1;
    transform: translateY(0);
  }
  

  .card3 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s, transform 2s;
  }
  
  .card3.animate {
    opacity: 1;
    transform: translateY(0);
  }
  .register-photo {
    perspective: 1000px;
  }
  
  .register-photo .form-container {
    opacity: 0;
    transform: rotateY(90deg);
    transition: opacity 2s, transform 2s;
  }
  
  .register-photo .form-container.animate {
    opacity: 1;
    transform: rotateY(0);
  }


  



/* Modal Section */


/* Register Section */
.register-photo {
    background:#f1f7fc;
    padding:80px 0;
  }
  
  .register-photo .image-holder {
    display:table-cell;
    width:auto;
    background:url(images/registrationImage.jpg);
    background-size:cover;
    background-position: center;
  }
  
  .register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form {
    display:table-cell;
    width:400px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
/* Media */

  @media (max-width:991px) {
    .register-photo form {
      padding:40px;
    }
  }

  @media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }
  
  .register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:30px;
  }
  
  .register-photo form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:6px;
    height:40px;
  }
  
  .register-photo form .form-check {
    font-size:13px;
    line-height:20px;
  }
  
  .register-photo form .btn-primary {
    background:#f4476b;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:35px;
    text-shadow:none;
    outline:none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background:#eb3b60;
  }
  
  .register-photo form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .register-photo form .already {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
  }
  
  /* #back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
  } */

  #top {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #test {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: gray;
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #test:hover {
    background-color: white;
  }
  
  .hidden-btn {
    position: absolute;
    background-color: white;
    color: white;
    cursor: inherit;
  }