@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700&family=Urbanist:wght@200;400;500;600;700&display=swap');

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

/* navbar styling */
.nav-container {

}

/* main styling */

body {
  height: 200vh;
}

header nav {
  height: 100px;
}


main .main-container {
  background-image: url('images/backgroundPicture.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: auto;
}

main .main-container .layer2 {
  background-color: rgba(255, 255, 255, 0.5);

}

.main-container .layer2 .img-container  {
  max-width: 400px;
}

.img-container img {
  box-shadow: 0 0 2px 4px rgba(96, 96, 96, 0.5);
  border-radius: 50%;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .main-container .layer2 .img-container {
    width: 250px;
  }

  .section2 .container h2 {
    text-align: center;
    font-size: 18px;
  }
}

/*styling for galery*/

figcaption {
  font-size: 2em;
}

@media (max-width: 768px) {
  body {
      background-size: contain;
  }
}

.img-container {
  position: relative;
  overflow: hidden;
  animation-name: fadeInDown;
  animation-duration: 2s;
}

.img-container:hover .img-overlay {
  opacity: 1;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-overlay p {
  color: white;
  font-size: 18px;
  text-align: center;
}