.todo-container {
    border: none;
    box-shadow: 5px 5px 5px 5px rgba(96, 96, 96, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.todo-header i {
    font-size: 50px;
}

.todo-header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteBtn {
    border-radius: 5px;
    background-color: rgb(241, 98, 98);
    border: none;
    box-shadow: 0 4px 4px 0 rgba(96, 96, 96, 0.5);
}

.input-container {
    padding: 5px;
}

.deleteBtn:hover {
    background-color: rgb(241, 39, 39);
    cursor: pointer;
}

.table-container {
    border: none;
    overflow: auto;
    background-color: red !important;
}

.card1 {
    width: 1300px;
    height: 80vh;
    border: none;
    border-radius: 10px;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
    background-blend-mode: normal, normal, screen, overlay, normal;
    box-shadow: 0px 0px 10px 1px #000000;
    padding: 5px 10px;
  }

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent !important; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent !important; 
  }